/* 
    Document   : styles.css
    Created on : Jul 19, 2012, 12:25:53 PM
    Author     : Yariv
    Description:
        the common styling atrributes of the site
        the not common styling atrributes will be directly attached to the html elements
        why do it this way you ask ? that's how I role
        
*/

html, body{
    margin:0;
   padding:0;
   height:100%;
   font-family: verdana,helvetica,arial,sans-serif;
   background-color: #E8E8E8;
}

ul {
    list-style: none outside none;
}


a{
    text-decoration: none;
}

i {
    
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: text-top;
}



input, textarea, select {
    /*background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    margin: 0;
    outline: medium none;
    padding: 4px;
    width: 210px;
    -moz-box-sizing: content-box;
    -moz-padding-end: 0;
    -moz-padding-start: 0;*/
}

.wrapper{
    
    margin: 0 auto;
    min-width: 1000px;
}



/* styles common for all the text inputs*/
/*.input_text{
    font: 17px arial,sans-serif;
    margin: 3px 0 0 1%;outline: medium none;padding: 0;
}*/


/* the black background common for dialogs menu and footer etc */ 
.bgblack{ 
    /*background-color: #292929;*/
    background-image: url("/img/header.png");
}





/* styles for the navigation in the top of the page */
.nav{
    float: left;
}



/* comon for the loading screen and dialog bg*/
.glass{
    background-color: #CCCCCC;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

/* the child of the navigation */
.nav > li{
    float: left;
    position: relative;
    padding-left: 15px;
}

/* the span inside the navigation */
.new-wrapper{
    float: left;
    position: relative;
}

/* the anchor in the menu */
.js-hover{
    font-size: 12px;
    position: relative;
}

.nav > li > a {
    color: #BBBBBB;
    display: block;
    font-weight: bold;
    height: 12px;
    line-height: 1;
    /*padding: 10px 12px 9px;*/
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}

/* the italic tag inside a navigation element*/
.nav-new{
    height: 29px;
    width: 29px;
    left: -2px;
    position: relative;
    top: -5px;
}

.nav > li > a:hover{
    color: #FFFFFF;
    text-decoration: none;
}



.nav .active .active_a {
    /*background-color: #222222;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5) inset;
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);*/
} 

/* the style for div wrapping text inputs*/
.text-wrapper {
    border-style: solid;
    border-width: 1px;
    height: 27px;
    line-height: 0.8em;
    border-color: #CCCCCC;
    position: relative;
    border-radius: 3px 3px 3px 3px;
}

/* button styles*/
.button-content{
	margin-left: 4px;
}

.button-icon-wrapper{
	margin-left: -4px;
	position: relative;
    top: 2px;
}

.button{
	height: 27px;
	background-color: #E20145;
    border: medium none;
    border-radius: 30px 30px 30px 30px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
	padding-bottom: 5px;
}

.button:hover{
	color: #CCCCCC;
}

.content{
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body > .content {
    height: auto;
    min-height: 100%;
}

.border-style{
    border: 3px solid #E8E8E8;
}

.border-radius{
    border-radius: 30px 30px 30px 30px;
}


.div-center{
    margin: 0 auto;
    position: relative;
}




/*********************************/


.front-signin, .front-signup, .front-courselist, .front-options {
  background: -moz-linear-gradient(center top , #FFFFFF 0px, #CCCCCC 100%) repeat scroll 0 0 transparent;
  border: 1px solid #CCCCCC;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  
  
  background: white;
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,white),color-stop(100%,#DDD));
background: -webkit-linear-gradient(top,white 0,#DDD 100%);
background: -moz-linear-gradient(top,white 0,#DDD 100%);
background: -ms-linear-gradient(top,white 0,#DDD 100%);
background: -o-linear-gradient(top,white 0,#DDD 100%);
background: linear-gradient(top,white 0,#DDD 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0);
border-right: solid 1px #EEE;
border-left: solid 1px #EEE;
border-bottom: solid 1px #CCC;
-webkit-box-shadow: 0 rgba(0, 0, 0, .1) 0 1px;
-moz-box-shadow: 0 rgba(0,0,0,.1) 0 1px;
box-shadow: 0 rgba(0, 0, 0, .1) 0 1px;
}

.front-welcome, .front-signin, .front-signup, .front-options {
  border-radius: 4px 4px 4px 4px;
}

.front-signin {
  height: 108px;
  /*left: 536px;
  position: absolute;
  top: 0;*/
  width: 300px;
}

.front-register {
  min-height: 215px !important;
  /*left: 536px;
  position: absolute;
  top: 0;*/
  width: 300px;
}

body.ms-windows, body.ms-windows label, body.ms-windows input, body.ms-windows textarea, body.ms-windows select, body.ms-windows button {
  font-family: Arial,sans-serif;
}

body, label, input, textarea, select, button {
  font-family:Arial,sans-serif;
}

body {
  color: #333333;
  font-size: 14px;
  line-height: 18px;
}

form {
  font-size: 12px;
  margin-bottom: 0;
}

body.ms-windows, body.ms-windows label, body.ms-windows input, body.ms-windows textarea, body.ms-windows select, body.ms-windows button {
  font-family: Arial,sans-serif;
}

.front-signin .username {
  left: 12px;
  position: absolute;
  top: 12px;
  width: 276px;
}

.front-searchcourse{
    margin: 0 auto;
    background-color: white;
}

.front-searchcourse .searchcourse {
  /*left: 12px;
  position: absolute;
  top: 12px;
  width: 276px;
  
  height: 36px;
    width: 446px;*/
  /*float: left;*/
    height: 36px;
    width: 100%;
}

.front-signin .placeholding-input {
  height: 30px;
}

.signin .password, .signin .username {
  font-size: 13px;
}

.placeholding-input {
  overflow: visible;
  position: relative;
}

.username, .time, .time a, .metadata, .metadata a {
  color: #999999;
}

.front-signin .username .text-input {
  width: 266px;
}



.front-card .text-input {
  border: 1px solid #CCCCCC;
  height: 20px;
  
-webkit-box-shadow: inset 0 1px 0 #EEE,white 0 1px 0;
-moz-box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0;
box-shadow: inset 0 1px 0 #EEE,white 0;
font-size: 14px;
    font-weight: bold;
}

.placeholding-input input {
  position: absolute;
  top: 0;
}

input, textarea {
  -moz-transition: background 0.2s linear 0s;
}

input, textarea, select {
  background-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  display: inline-block;
  margin: 0;
  outline: medium none;
  padding: 4px;
}

label, input, textarea, select {
  font-size: 13px;
  line-height: 20px;
}

.placeholding-input .placeholder {
  -moz-transition: opacity 0.1s ease 0s, font-size 0.1s ease 0s;
  -moz-user-select: none;
  bottom: 1px;
  color: #999999;
  cursor: text;
  font-size: 13px;
  height: 20px;
  left: 2px;
  line-height: 20px;
  padding: 4px;
  position: absolute;
  right: 1px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  top: 1px;
  white-space: nowrap;
  pointer-events: none;
}

.front-signin .password-signin {
  left: 12px;
  position: absolute;
  top: 48px;
  width: 276px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.front-signin .remember-forgot {
  left: 12px;
  margin: 0;
  position: absolute;
  top: 82px;
  width: 276px;
}

.front-signin .remember, .front-signin .forgot, .front-signin .separator {
  color: #999999;
  display: inline;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

.signin .remember {
  text-align: left;
}

label {
  cursor: pointer;
}

.front-signin .remember input[type="checkbox"] {
  height: 13px;
  margin: 0;
  vertical-align: text-top;
}

input[type="checkbox"], input[type="radio"] {
  background-color: transparent;
  border: medium none;
  cursor: pointer;
  line-height: normal;
  padding: 0;
  width: auto;
}

input, textarea {
  -moz-transition: background 0.2s linear 0s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
}


.front-signin .remember, .front-signin .forgot, .front-signin .separator {
  color: #999999;
  font-size: 11px;
  line-height: 13px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  background-color: transparent !important;
}

.front-signin .separator {
  color: #999999;
  font-weight: bold;
  margin: 0 1px 0 2px;
}

.front-signin .remember, .front-signin .forgot, .front-signin .separator {
  display: inline;
  font-size: 11px;
  line-height: 13px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

.front-signin .remember, .front-signin .forgot, .front-signin .separator {
  color: #555555;
  display: inline;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

a {
  outline: 0 none;
  text-decoration: none;
}

.flex-table-primary {
  padding-right: 5px;
  width: 99%;
}

.flex-table-secondary {
  max-width: 1%;
  width: 1%;
}

a:hover{
	text-decoration:underline;
}

.front-signin .submit {
  height: 30px;
}

.flex-table-btn {
  float: right;
  white-space: nowrap;
  width: auto;
}

.primary-btn, .following.first-hover .follow-btn:hover, .following .follow-btn, .following .follow-button.cancel-hover-style:hover, .following .follow-button {
  background-color: #019AD2;
  background-image: -moz-linear-gradient(#33BCEF, #019AD2);
  background-repeat: repeat-x;
  border-color: #057ED0;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn {
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
  overflow: visible;
  padding: 5px 10px;
  position: relative;
}

.front-signin .password .text-input {
  height: 30px;
}



.flex-table-input {
  -moz-box-sizing: border-box;
  display: block;
  line-height: normal;
  width: 100%;
  
height: 30px;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.flex-table-primary, .flex-table-secondary {
  vertical-align: top;
}

.front-signin .password {
  width: 100%;
}

.primary-btn, .following.first-hover .follow-btn:hover, .following .follow-btn, .following .follow-button.cancel-hover-style:hover, .following .follow-button {
  background-color: #E20145;
  background-image: -moz-linear-gradient(#EF1F49, #E20145);
  background-repeat: repeat-x;
  border-color: #DF002E;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


.primary-btn:hover, .primary-btn:focus {
    background-color: #d00028;
    background-image: -moz-linear-gradient(#EF1F49, #d00028);
    background-repeat: repeat-x;
    border-color: #bc001d;
    color: #CCCCCC;
}
.primary-btn:active {
    background-image: none;
    border-color: #bc001d;
}

.placeholding-input input:focus + .placeholder {
    opacity: 0.6;
}

.has-content .placeholder, .hasome .placeholder {
    font-size: 0 !important;
    opacity: 0;
    z-index: -1;
}

.modal-scroll .placeholder h3, .modal-scroll .placeholder p {
    color: #777777;
    text-align: center;
}

.nav-signin .placeholding-input .placeholder {
    display: none;
    font-size: 12px;
}

.front-card .text-input:focus {
    border: 1px solid #E20145;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 0 8px rgba(226, 1, 69, 0.6);
    
}

.modal-scroll .placeholder {
    padding: 39px;
}

.active > #loginform{
    display: block !important;
}

.active > #registerform{
    display: block !important;
}

.btnradio.active
{
    background-image: none;
    /*border-color: #bc001d;*/
    border: 2px inset #BC001D;
    background-color: #D00028;
}

.front-courselist{
    /*height: 208px;
    left: 102px;
    overflow: auto;
    position: relative;
    top: -24px;
    width: 445px;*/
}

.courseitem h3{
    display: inline;
    left: 5px;
    position: relative;
    top: 5px;
}
.courseitem p{
    margin-left: 5px;
    margin-top: 8px;
}

.courseitem:hover{
    /*background-color: #CCCCCC;*/
}

.courseitem:active{
    border: 2px inset #555555;
}

.courseitem{
    border: 1px outset #CCCCCC;
    cursor: pointer;
    height: 64px;
    overflow: hidden;
}

/* when we highlight a course*/
.courseitem.active{
    background-color: #CCCCCC;
}

#courselist{
    max-height: 250px;
    display: none;
    overflow-y: scroll;
    /*left: 102px;
    ;
    position: relative;
    top: -24px;
    width: 446px;
    */
    margin-top: -3px;
}

.span_header{
    font-weight: normal;
    
}

.pink_header{
    color: #E20045;
}

.black_header{
    color: #292929;
}

.inview-wrapper{
    /*margin-bottom: 50px;
    padding: 10px;
    position: relative; top: 30px;clear: both;*/
    margin-top: 40px;
}

.about_status{
    font-weight: bold;margin-top: 10px;text-align: center;
}

.glass_loaddialog{
    background-color: white;
    display: none;
    left: 40%;
    position: fixed;
    text-align: center;
    top: 40%;
    width: 300px;
    z-index: 3;
} 

#success{
    background-color: #CCCCCC;
    display: none;
    height: 100%;
    margin: 0 auto;
    opacity: 0.3;
    position: fixed;
    text-align: center;
    top: 0;
    vertical-align: middle;
    width: 100%;
    z-index: 4;
} 

.footer_anchor{
    color: #CCCCCC;
    padding-right: 5px;
    padding-left: 5px;
}

.insearch{
    padding: 15px;
}

.insearch > .front-courselist{
    background: none repeat scroll 0 0 white !important;
    border: medium none !important;
}


.insearch > .front-courselist > .courseitem{
    margin-top: 10px;
    border-color: -moz-use-text-color -moz-use-text-color #CCCCCC;
    border-style: none none outset;
    border-width: medium medium 1px;
}

.filebrowser-file-icon{
	background-image:url(/img/mimetypes.png);height: 48px ; width:48px;
}

.coursepicker-course-icon{
	
}

.filebrowser{
	margin: 0 auto; 
	border: 1px solid;
    border-radius: 10px 10px 10px 10px;
}

.filebrowser-th{

}

.filebrowser-td{
	padding-left: 10px;
    padding-right: 10px;
}

.filebrowser-td-left{
	border-left: 1px solid #CCCCCC;
}

.filebrowser-border-bottom{
	border-bottom: 1px solid #CCCCCC;
}

.filebrowser-filerow{
	
}

.filebrowser-filerow:hover{
	background-color:#CCCCCC !important;
	/*cursor:pointer;*/
}

.comment_info{
    margin-left: 10px;
}

.comment_info h1{
}

.comment_info table{
}

.comment_data{
    margin-left: 10px;
}

.singlecomment h1{
    font-size: 15px;
    text-decoration: none;
}

.comment_data_text{
    
}


.singlecomment table{
    width: 100%;
}

.singlecomment_table_firsttd{
    border-right: 1px solid #CCCCCC;
    /*max-width: 60px;*/
    vertical-align: top;
}

.comments_h1{
    font-size: 16px;
    text-align: center;
}

.singlecomment_left{
    float: left;
    font-size: 12px;
    color: #999999;
    /*padding: 15px;*/
}

.singlecomment_left_picture{
    clear: both;
    height: 50px;
    width: 70px;
    padding: 10px;
}

.singlecomment_left_name{
    padding: 5px;
}

.singlecomment_left_date{
    
}

.singlecomment_right{
    float: left;
    padding: 15px;
}

.singlecomment_left_picture_a{
    float: right;
    margin-top: 30px;
}

.singlecomment_left_name_a{
    
}



.singlecomment_son{
   background-color: #CCCCCC;
    border-radius: 20px 20px 20px 20px;
    clear: both;
    display: table;
    font-family: Candara;
    width: 80%;
    border-bottom: 1px solid #292929;
}

.singlecomment_son table{
    width: 100%;
    table-layout: fixed;
}

.singlecomment_son_table_firsttd{
    border-right: 1px solid #CCCCCC;
    /*max-width: 60px;*/
    vertical-align: top;
}

.comments_h1{
    font-size: 16px;
    text-align: center;
}

.singlecomment_son_left{
    float: left;
    font-size: 12px;
    color: #999999;
    /*padding: 15px;*/
}

.singlecomment_son_left_picture{
    clear: both;
    height: 50px;
    width: 70px;
    padding: 10px;
}

.singlecomment_son_left_name{
    padding: 5px;
}

.singlecomment_son_left_date{
    
}

.singlecomment_son_right{
    float: left;
    /*padding-left: 15px;*/
    font-size: 13px;
    
    width: 100%;
    word-wrap: break-word;
}

.singlecomment_son_left_picture_a{
    float: right;
    margin-top: 30px;
}

.singlecomment_son_left_name_a{
    
}

.message_feedback_comment{
    
} 

.message_feedback{  
    list-style-type: none;
    border-style: solid; 
    clear: both;
    word-wrap: break-word;
    margin: 0;
    padding-top: 2px;
    margin-left: 80px;
}

.message_feedback_comments_li{
    border-width: 1px 0 0;
    display: block;
}

.message_feedback_commentlist_ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*border-style: solid;*/
}

.message_feedback_commentlist_ul_li{
    border-bottom: 1px solid #D2D9E7;
    background-color: #EDEFF4;
    margin-top: 1px;
    padding: 5px 5px 4px;
    
}

.singlecomment_comments{
    clear: both;
    margin-top: 10px;
}

.singlecomment_comments_inputcomment{
   margin-top: 7px;
    width: 80%;
}

.singlecomment_comments_inputcomment_wrapper{
    
}

.singlecomment_son_td1{
    width: 110px;
}



.singlecomment_son_td2{
    vertical-align: top;
}

.registerdialog{
   background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    width: 500px;
    z-index: 3;
    padding-bottom: 20px;
}

.registerdialog-header{
    border: 1px solid;
    border-radius: 5px 5px 5px 5px;
    height: 23px;
    padding: 5px;
    position: relative;
    border: 1px solid;border-radius: 5px 5px 5px 5px;height: 23px;padding: 5px;position:static;width: auto;margin-left: 2px;margin-right: 2px;margin-top: 2px;
}

.registerdialog-header > h2{
   color: #FEFEFE;
   display: inline;
}

.registerdialog-header > a{
    color: #FEFEFE !important;
    display: inline;
    float: right;
    margin-top: 2px;
}

.registerdialog-header > a:hover{
    color: #999999 !important;
}

.postonwall{
    display: none;
}
 
.kscenter{
    clear: both; position: relative; margin: 0px auto; text-align: center;top: 10px;
}

.kscenter-img{
    margin-left: 20px; display: inline; height: 102px ; width: 102px;
}

.kscenter-text{
    display: inline;font-size: 17px;height: 102px;margin-left: 20px;position: relative;top: -50px;vertical-align: middle;
}

.singlecomment{
    max-width: 700px;
    height: 152px;
    overflow: hidden;
    border: 1px solid #E9E9E9;
    border-bottom: 1px solid black;
}

.singlecomment-seemore{
    text-align: center;
    background-color: #EEEEEE;
}

.singlecomment-seemore:hover{
    background-color: #CCCCCC;
    cursor: pointer;
}

.singlecomment-controller{
    
}

.singlecomment-children{
    max-width: 700px;
    margin-top: 10px;
    /*text-align: -moz-right;*/
}

.singlecomment-children-singlechild{
    border: 1px solid #E9E9E9;
    clear: both;
    max-height: 135px;
    overflow: hidden;
    max-width: 608px;
    text-align: center;
}

.registerdialog * .front-signin{
    background: none !important;
    box-shadow: none !important;
    border-style: none !important;
}

#status{
    color: green;
}

#error{
    color: red;
}

.registerdialog_parent{
    height: 100%;left: 0;position: fixed;top: 0;width: 100%;display:none;
}

.peekingdialog{
    background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    clear: both;
    display: none;
    height: 80%;
    left: 10%;
    position: fixed;
    top: 10%;
    width: 80%;
    z-index: 3;
}

.dialogbg{
    background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #bdccd4 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#bdccd4), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1e5799 0%,#bdccd4 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1e5799 0%,#bdccd4 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1e5799 0%,#bdccd4 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1e5799 0%,#bdccd4 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.flagdialog{
    background-color: #BDCCD4;
    border: 1px solid black;
    display: none;
    position: fixed;
    width: 700px;
    z-index: 3;
    border-radius: 19px 19px 19px 19px;
    box-shadow: 0 10px 5px #888888;
}

.error{
    color: #E20145;
    font-size: 12px;
    font-weight: bold;
    position: relative;
}

.template-download > .error{
    position: static !important;
}
.template-upload > .error{
    position: static !important;
}

.uploaddialog{
    /*border-bottom: 1px solid #CCCCCC;*/
    padding: 8px;
    position: relative;
}

.regbutton{
    background-color: #E20145;
    background-image: -moz-linear-gradient(#EF1F49, #E20145);
    background-repeat: repeat-x;
    border-color: #DF002E;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    height: 30px;
    line-height: 18px;
    overflow: visible;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.regbutton:hover{
    
}

.content_wall_body{
    border: none !important;
}

.front-register * .error{
    
}

.register-error-placeholder{
    /*position: relative;
    top: 27px;*/
    color: red;
}

.uploadpermform-error-placeholder{
    
}

.uploadpermform-error-placeholder.folder{
     left: -30px;
    position: relative;
    top: 34px;
}


.uploadpermform-error-placeholder.disclaimer{
    text-align: center;
}

#logout * i:hover{
    
}

.border{
    border: 1px solid #282828;
    border-radius: 5px 5px 5px 5px;
}

.user_h2{
    margin-left: 10px;
}

.user_table_padding{
    padding: 5px;
}

.user_h3{
    display: inline;
    margin-left: 15px;
}

.user_span{
    font-size: 13px;
    font-weight: normal;
}

.user_edit_anchor{
    color: #282828; 
}

.user_edit_anchor:hover{
    text-decoration: none;
}

#changeNicknameDialog{
    display: none;
}

.bar {
    height: 18px;
    background: green;
}

.fileinput-button {
  background-color: #282828;
    border-radius: 5px 5px 5px 5px;
    color: white;
    margin-right: 4px;
    overflow: hidden;
    padding: 7px;
    position: relative;
}
.fileinput-button input {
  -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transform: translate(-300px, 0px) scale(4);
    border-color: black;
    border-style: solid;
    /*border-width: 0 0 100px 200px;*/
    cursor: pointer;
    direction: ltr;
    /*height: 6px;*/
    margin: 0;
    opacity: 1;
    position: absolute;
    right: 94px;
    top: 7px;
}
.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.files .progress {
  /*width: 200px;*/
}
.progress-animated .bar {
  filter: none;
}
.fileupload-loading {
  position: absolute;
  left: 50%;
  width: 128px;
  height: 128px;
  display: none;
}
.fileupload-processing .fileupload-loading {
  display: block;
}

/* Fix for IE 6: */
*html .fileinput-button {
  line-height: 22px;
  margin: 1px -3px 0 0;
}

/* Fix for IE 7: */
*+html .fileinput-button {
  margin: 1px 0 0 0;
}

@media (max-width: 480px) {
  .files .btn span {
    display: none;
  }
  .files .preview * {
    width: 40px;
  }
  .files .name * {
    width: 80px;
    display: inline-block;
    word-wrap: break-word;
  }
  .files .progress {
    width: 20px;
  }
  .files .delete {
    width: 60px;
  }
}


.fileupload-buttonbar{
    text-align: center;
}

.fileupload-content{
    margin: 20px auto 0;
    position: relative;
    width: 450px;
}

.files{
    table-layout: auto; width: 450px; border: 1px solid rgb(40, 40, 40);
}

.size{
        border-right: 1px solid #CCCCCC;
        min-width: 80px;
}

.name{
    width: 50%;
    word-wrap: break-word;
    border-right: 1px solid #CCCCCC;
}

.cancel{
    border-left: 1px solid #CCCCCC;
    width: 26px;
}


.bar{
    -moz-animation: 2s ease 0s normal forwards 1 progress;
    background: none repeat scroll 0 0 #A1C969;
    float: left;
    height: 15px;
    max-width: 100%;
    width: 0;
   border-radius: 5px 5px 5px 5px;
    
}

.progress{
    background-color: #EEEEEE;
    border: 1px double #000000;
    clear: both;
    height: 18px;
    margin: 0.6em 0;
    padding: 2px;
    /*width: 100%;*/
    border-radius: 5px 5px 5px 5px;
}

.inbar{
    height: 15px;
    opacity: 0.25;
    overflow: hidden;
    width: 100%;
}

/*.dropzone{
    background-color: #E07796;
    display: none;
    height: 50px;
    opacity: 0.9;
    z-index: 11;
}



.dropzone.drag-enter{
    display: block !important;
}*/

#overlay{
    position: absolute;        
    height: auto;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 10;
}

.dropzone-placeholder{
    height: 50px;
    display: none;
}

#uploadProfilePicture_fileupload-dropzone{
    position: absolute;width: 100%;margin-left: -15px;top: 313px;
}

#uploadProfilePicture_fileupload-dropzone h1{
    position: relative;
    top:15px;
}

.dropzone-child{
    /*pointer-events: none;*/
    position: relative; margin: 0px auto; background-color: rgb(224, 119, 150); width: 450px; height: 50px; text-align: center;
}

.dropzone h1{
    position: relative;
    text-align: center;
    top: 15px;
}

.filesheaderrow{
    border-bottom: 1px solid #CCCCCC;
    color: #E20145;
    font-weight: bold;;
}

.filesheaderrowtd{
    border-right: 1px solid #CCCCCC;
    padding-left: 5px;
}

.filessinglefilerowtd{
    border-right: 1px solid #CCCCCC;
}

.progressbar{
    height: 20px;
    border: 1px inset;
}



.ui-progressbar .ui-progressbar-value {
    height: 100%;
    margin: -1px;
}
.ui-corner-left {
}
.ui-widget-header {
    border: 1px solid #E78F08;
    color: #FFFFFF;
    font-weight: bold;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 4px;
}
.ui-widget-header {
    border: 1px solid #AAAAAA;
    color: #222222;
    font-weight: bold;
}

.filessinglefilerow{
    height: 35px;
}

.filessinglefilerowtd{
    
}

.filename{
    width: 100px;
}

.filesize{
    width: 50px;
    text-align: center;
}

.filecancel{
    width: 50px;
    text-align: center;
}

.fileprogress{
    padding: 5px;
    
}

.filepercenttext{
    width: 40px;
    text-align: center;
}

.btn-warning{
    /*background-image: url("/img/icons.png");
    background-position: -85px 3px;
    background-repeat: no-repeat;*/
    height: 30px;
    padding: 0 !important;
    width: 30px;
}

.filesheader{
    color: #E20145;
    display: none;
    font-weight: bold;
}

.optionchild{
    border-bottom: 1px solid;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.optionchild * a{
    color: #E20045;
}

#extendedoption{
}

.front-options{
    height: 117px;
    width: 200px;
}

#changePasswordDialog{
}

#changePasswordDialog * .register-error-placeholder{
    top: 33px !important;
}

.hasome > span{
    
}

.active > #extendedoption{
    display: block !important;
}

.coursepicker-courserow{
    /*cursor: pointer;*/
    height: 40px;
}
.coursepicker-courserow:hover{
    background-color: #CCCCCC;
    text-decoration: underline;
}

.coursepicker{
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}




.coursepicker_p{
    
}

.coursepicker_explanation{
    
}

.coursepicker_search{
    text-align: center;
}

.coursepicker_search_text{
    color: #999999;
    max-width: 350px;
}

.coursepicker_courselist{
    width: 270px;
    
    float:left;
}


.course_singlerow{
    border: 1px solid #CCCCCC;
    overflow: hidden;
}

.course_singlerow_title{
    /*float: left;
    width: 80%;*/
}

.course_singlerow_action{
    float: right;
}

.course_singlerow_action_left{
    float: left;
}

.course_singlerow_title_right{
    float: right;
    width: 85%;
}

.coursepicker_enrolledlist{
   /*float: right;
    height: 70%;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 80px;
    width: 50%;*/
}

.coursepicker_courselist_header{
    background-color: #999999;
    color: white;
    padding: 3px 3px 3px 7px;
}

.coursepicker_enrolledlist_header{
    float: left;
    width: 50%;
}

.coursepicker_courselist_list{
overflow-y: auto; height: 200px;
border: 1px solid #CCCCCC;
}

#tt {
 position:absolute;
 display:block;
 z-index: 2000;
}

#tttop {
 display:block;
 height:5px;
 margin-left:5px;
 overflow:hidden;
}
 
#ttcont {
 display:block;
 padding:2px 12px 3px 7px;
 margin-left:5px;
 background:#666;
 color:#fff;
 border: 1px solid #666666;
 border-radius: 15px 15px 15px 15px; 
}
 
#ttbot 
{
    display:block;
    height:5px;
    margin-left:5px;
    overflow:hidden;
}

#enrollCoursesDialog{
    /*min-width: 500px;
    max-width: 600px;*/
}

.course_singlerow_transfertd{
    vertical-align: middle;
    
}

.course_singlerow_transfertd:hover{
    cursor: pointer;
    background-color: #DDDDDD;
}

.semesterpicker{
    margin: 0 auto;
    max-width: 700px;
}

.dialog_explanation{
    clear: both; position: relative; margin: 0px auto; text-align: center;top: 10px;padding-left: 20px;padding-right: 20px;
}

.redactor_btn_equation > span{
    background-position: center center !important;
}

.redactor_btn_attachment > span{ 
    background-position: center center !important;
}

#testbox{
    width: 98%;
    resize: none;
    max-height: 70px;
}

#equation{
    margin-top: 20px;
}

#postOnWallDialog * .fileupload-buttonbar{
    /*display: none !important;*/
    position: absolute;
    top: -100px;
}

.singlecomment-header{
    text-align:center;color: #E20045;font-size:11px;font-weight:bold;margin-bottom: 10px;
}

.singlemessage-comments * .singlecomment-details{
    height: 127px !important;
}

.singlecomment-details{
    float: left;height: 152px;width: 172px;font-size: 11px;background-color: #EEEEEE;
}

.singlemessage{
    
}

.singlemessage * .profileimage{
    height: 50px;
    width: 50px;
}

.singlemessage-comments{
    max-width: 608px;
}

.singlemessage-comments * .profileimage{
    height: 32px;
    width: 32px;
    
}

.singlecomment-messagearea{
    height: 106px;overflow: hidden;
}

.singlemessage-comments * .singlecomment-messagearea{
    height: 82px !important;
}
.singlemessage-comments > .singlecomment{
    height: 128px !important;
}

.singlemessage-comments * .singlecomment-body{
    background-color: #e7b9c7;
}

.profileimage{
    margin-top: -8px;
}

.filebrowser-error{
    display: none;
}

.forgot{
    border: 1px solid rgb(204, 204, 204); border-radius: 5px 5px 5px 5px; padding: 20px; text-align: center; width: 500px; margin: 0px auto;
}

.forgot2{
    color: #555555;
  display: inline;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

.admin_table_header{
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    text-decoration: underline;
    text-align: center;
}

.admin_container{
    border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    margin: 50px auto 0;
    padding: 20px;
    position: relative;
}

.admin_container h2{
    text-align: center;
    text-decoration: underline;
    color: #E20045;
}

.admin_table_cell{
    border: 1px solid #CCCCCC;
    text-align: center;
    padding: 5px;
}

.admin_parentcombo{
    width: 100%;
}

.filebrowser_data_tr{
    height: 48px;
}

.filebrowser_data_tr td{
    padding: 5px;
}

.filebrowser_data_tr:nth-child(even) {
    background-color: #EEEEEE;
}

.filebrowser_td_right{ 
    border-right: 1px solid #CCCCCC;
}

.filebrowser_td_check{
    border: none !important;
}

.filebrowser_td_check input{
    height: 20px;
    width: 20px;
}

.filebrowser_td_img{
    
}

.filebrowser_td_title{
    
}

.filebrowser_td_download, .filebrowser_td_peek{
    text-align: center;
}

.filebrowser_td_title p{
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
}

.filebrowser_table_title{
    background-color: #333333;
    height: 40px;
}

.filebrowser-header-td{
    color: white;
    font-size: 17px;
}
    
.filebrowser_data_tr:hover{
    background-color: #DDDDDD;
}

.filebrowser_td_img:hover , .filebrowser_td_title:hover {
    cursor: pointer;
}

img
{  
    border-style: none !important;
}

.filebrowser * .hidder{
    background-color: black;
    cursor: default;
    height: 40px;
    left: 120px;
    opacity: 0;
    position: relative;
    top: -30px;
    width: 400px;
    z-index: 1;
}

#fileclassify * .kscenter-text{
    display: block;
    font-weight: bold;
    height: 30px;
    position: static;
    text-align: center;
    width: 100%;
    font-size: 18px;
}

.fileclassify_table{
    /*border: 1px solid #CCCCCC;*/
    margin: 0 auto;
    width: 500px;
    font-size: 17px;
}

.fileclassify_table tr{
    
}

.fileclassify_table td{
    padding: 10px;
}

.fileclassify_table select{
    width: 100%;
}

.fileclassify_table_tdleft{
    text-align: right;
    width: 180px;
}

#fileclassify{
    /*border: 1px solid #CCCCCC;
    border-radius: 15px 15px 15px 15px;
    margin: 0 auto 20px;
    padding: 10px;
    width: 600px;*/
    width: 100%;
}

.fileclassify_body_explain{
    margin-top:10px;
}

.style-select{
    background: url("/img/nerdeez-down-arrow.png") no-repeat scroll right center;
    height: 36px;
    overflow: hidden;
    width: 240px;
    background-color: white;
}

.style-select select{
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    font-size: 16px;
    height: 100%;
    padding: 7px !important;
    width: 268px;
    
}

select{
    border: 1px solid #AAAAAA;
    color: #555555;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 4px;
}

#nerdeez_error_dialog{
    background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 15px 15px 15px 15px;
    height: 220px;
    left: 30%;
    padding: 10px;
    position: fixed;
    top: 30%;
    width: 600px;
    display: none;
    z-index: 3;
}

#nerdeez_error_dialog .nerdeez_error_dialog_header h2{
    margin-left: 10px;
    padding: 8px;
}

#nerdeez_error_dialog .nerdeez_error_dialog_header{
    background-color: #282828;
    border-radius: 15px 15px 15px 15px;
    color: white;
    height: 36px;
    margin-left: -8px;
    margin-top: -25px;
    width: 615px;
}

#nerdeez_error_dialog .nerdeez_error_dialog_body{
    
}

#nerdeez_error_dialog .nerdeez_error_dialog_body .kscenter-img{
    
}
#nerdeez_error_dialog .nerdeez_error_dialog_body .kscenter-text{
    
}

.filebrowser_filetable_navigation{
    margin-left:20px;margin-top:30px;
}

.pink_header a{
    color: #E20045;
}

.black_header a{
    color: #292929;
}

#flagdialog{
    
}

#reasonlist{
    display: none;
    position: absolute;
}

#reasonsfreetext{
    display: none;
    margin: 0 auto;
    width: 500px;
}

#reasonmessage{
    display: none;
    
}

textarea{
    resize:none;
}

#reasonspanmesseage{
    font-weight: bold;
}

#container{
   position:relative;
   /*height: 100%;*/
   padding-bottom: 50px;
}

#header{
    height: 80px;
}

#body{
}

#footer{
    height: 50px;
    /*position: relative;
    top: 50px;*/
    opacity: 0.8;
}

.nav-new{
    background-image: url("/img/icons.png"); width: 42px; height: 42px; margin-top: -2.5px;
}

.nav-text{
    font-size: 16px; font-family: Helvetica;
}

.navitem a:hover * i.home{
    background-position: -80px 6px !important;
}

.navitem a:hover * i.about{
    background-position: -80px -75px !important;
}

.searchcourseform_image{
    float: left;
}

.searchcourseform_textsearchcontainer{
    float: right;
}

.searchcourseform_text{
    font-weight: bold;
    margin-left: 12px;
}

#searchcourseform , .middlebox{
    background: none repeat scroll 0 0 white;
    border: 3px solid #FFFFFF;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0 10px 5px #888888;
    padding: 20px;
}

#searchcourseform{
    background-image: url('/img/squares.png') !important;
}

.navitem.active * span.nav-text{
    color: #E20045 !important;
}

.navitem a:hover{
    text-decoration: underline !important;
}

.navitem.navseparator span{
    color: white !important;
}

.navitem.navseparator span:hover{
    color: white !important;
}

.arrowicon{
    background-image: url("/img/icons.png");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    background-position: -6px 5px;
}

.uploadfirststep{
    background-color: #bdccd4;
    width: 100%;
    height: 57px;
    margin-top: 25px;
    position: relative;
    font-size: 15px;
    color: white;
}

.uploadfirststep_image{
   position: relative;
}

.uploadfirststep_text{
    width: 100%;
}

.uploadfirststep_button{
    width: 127px;
    cursor: pointer;
}
.uploadfirststep_button:hover{
    color: #CCCCCC;
}

.uploadfirststep_image img{
    left: 25px;
    position: absolute;
    top: -26px;
}

.uploadfirststep_button * .span7{
    width: 0 !important;
}

.uploadfirststep_button * .hider{
    width: 0 !important;
}

.uploadfirststep_button #uploadFileBrowser{
    background-color: #E62A59 !important;
    height: 57px !important;
    width: 127px !important;
}

.uploadfirststep_button * .fileinput-button{
    background: none repeat scroll 0 0 transparent;
    color: white !important;
    font-size: 15px;
    left: 31px;
    position: relative;
    top: 20px;
}

#fileclassify * .uploadfirststep_image img{
    left: 50px !important;
    top: -9px !important;
}

.filebrowserbutton{
    background-color: #E62A59;
    border: medium none;
    color: white;
    font-size: 15px;
    height: 57px;
    width: 100%;
    cursor: pointer;
}

.filebrowsericon{
    background-image: url("/img/icons.png");
    background-repeat: no-repeat;
    height: 37px;
    width: 42px;
}

.filebrowsericon.folder{
    background-position: -89px -80px;
}


.filebrowserdownloadimage{
    background-image: url("/img/icons.png");
    background-position: -10px -162px;
    height: 38px;
    width: 42px;
}

.filebrowserdownloadimage:hover{
    background-position: -90px -162px;
}

.filebrowserflag{
    background-image: url("/img/icons.png");
    background-position: -242px -79px;
    background-repeat: no-repeat;
    height: 32px;
    width: 38px;
}

.filebrowser_data_tr:hover .filebrowsericon.folder{
    background-position: -169px -80px;;
}

.uploadfirststep_button * .files_positioner{
    
}

.uploadfirststep_button * .files_positioner input[type="file"]{
    left: -999px !important;top: -999px !important;position: absolute !important;
}




.files_positioner{
    position: relative; left: -94px; opacity: 0; top: -64px;
}

.files_positioner input[type="file"]{
    cursor: pointer; height: 60px;
}

#filebrowser_upload{
    background-color: #E62A59;
    display: block;
    height: 57px;
    width: 127px;
}

#filebrowser_upload:hover{
    color: #CCCCCC;
}

#filebrowser_upload_input{
    left: -9999px;
    position: absolute;
    top: -9999px;
}

.filebrowserbutton.disable{
    background-color: #acacac;
    
}
.filebrowserbutton.enable{
    background-color: #E62A59;
    
}

.filebrowsercomplete{
    color: #19B5A7; font-weight: bold; width: 100%;border-right: 1px solid #DDDDDD;
}

#submitfilebrowser:hover{
    color: #CCCCCC;
}

.filebrowsertooltip{
    display: inline; float: right; position: relative; top: -50px; right: 180px;
}

.filebrowsertooltip_text{
    background-color: rgb(40, 40, 40); padding: 8px; font-size: 15px;
}

.filebrowsertooltip_img{
    background-image: url("/img/icons.png");
    background-position: -245px 3px;
    background-repeat: no-repeat;
    height: 16px;
    margin: 0 auto;
    width: 16px;
}

#filebrowsertooltip_folderpapa{
    left: 350px !important; top: 100px !important;
    position: absolute !important;
    right: auto !important;
}

#filebrowsertooltip_folderson{
    float: left !important; top: 100px !important; left: 610px !important;
    position: absolute !important;
    right: auto !important;
}

#admininsertfilesupload{
    
}

.adminupload{
    background-color: #E62A59;
    cursor: pointer;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    width: 100px;
}



.adminupload:hover{
    color: #CCCCCC;
}
.adminupload span:hover{
    color: #CCCCCC;
}

.adminupload span{
    color: white;
    font-size: 14px;
    position: relative;
    top: 6px;
}

.adminupload_input{
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.dropzone.dragover{
    background-color: #E62A59 !important;
    opacity: 0.7;
    
}

.filebrowsericon.pdf{
    background-position: -9px -240px;
}

.filebrowser_data_tr:hover .filebrowsericon.pdf{
    background-position: -9px -320px;
}
.filebrowsericon.zip{
    background-position: -89px -240px;
}
.filebrowser_data_tr:hover .filebrowsericon.zip{
    background-position: -89px -320px;
}


.filebrowsericon.rar{
    background-position: -249px -240px;
}
.filebrowsericon.doc , .filebrowsericon.docx{
    background-position: -169px -240px;
}

.filebrowser_data_tr:hover .filebrowsericon.doc,
.filebrowser_data_tr:hover .filebrowsericon.docx{
    background-position: -169px -320px;
}

.filebrowsericon.xls , .filebrowsericon.xlsx{
    background-position: -409px -240px;
}
.filebrowser_data_tr:hover .filebrowsericon.xls ,.filebrowser_data_tr:hover .filebrowsericon.xlsx{
    background-position: -409px -320px;
}
.filebrowsericon.gif , .filebrowsericon.bmp , .filebrowsericon.jpg , .filebrowsericon.png{
    background-position: -329px -240px;
}

.filebrowsericon.gif:hover , 
.filebrowsericon.bmp:hover , 
.filebrowsericon.jpg:hover , 
.filebrowsericon.png:hover ,
.filebrowser_data_tr:hover .filebrowsericon.png ,
.filebrowser_data_tr:hover .filebrowsericon.jpg ,
.filebrowser_data_tr:hover .filebrowsericon.bmp ,
.filebrowser_data_tr:hover .filebrowsericon.gif{
    background-position: -329px -320px;
}

.filebrowserflag:hover{
    background-position: -322px -79px;
}

.filebrowsericon.rar:hover,
.filebrowser_data_tr:hover .filebrowsericon.rar{
    background-position: -249px -320px;
}

.filebrowsericon.xls:hover, 
.filebrowsericon.xlsx:hover, 
.filebrowser_data_tr:hover .filebrowsericon.xlsx{
    background-position: -409px -320px;
}

.filebrowsericon.pptx, .filebrowsericon.ppt{
    background-position: -489px -240px;
}
.filebrowser_data_tr:hover .filebrowsericon.pptx, .filebrowser_data_tr:hover .filebrowsericon.ppt{
    background-position: -489px -320px;
}

.filebrowsertooltip_text span{
    color: white;
}

.filebrowser_foldertitle_arrow{
    background-image: url("/img/icons.png");
    background-position: -169px 4px;
    background-repeat: no-repeat;
    height: 16px;
    margin-left: 5px;
    width: 11px;
}

#myFrame{
    border:none;
}

.buttongarbageicon{
    background-image: url("/img/icons.png");
    background-position: -87px 0;
    background-repeat: no-repeat;
    height: 21px;
    width: 21px;
    margin: 0 auto;
}

.flagdialog_body{
    padding: 20px;
}

.flagdialog_header{
    height: 41px;
    padding: 5px;
    position: static;
    width: auto;
    border-radius: 15px 15px 0 0;
}

.flagdialog_header a{
    color: white;
    float: right;
    position: relative;
    right: -26px;
    top: -50px;
}

.flagdialog_body_controllers_tdborder{
    border: 2px solid #E77A99;
    padding: 0;
}

.filebrowserbutton:hover{
    color: #CCCCCC;
}

.flagdialog_body_controllers{
    margin-top: 25px;
}

.flagdialog_body_textcontent{
    font-family: Verdana;
    font-size: 14px;
    line-height: 1.4;
}

.paginationControl{
    text-align: center;
}

.closedialog{
    background-color: white;
    border: 3px solid;
    border-radius: 100px 100px 100px 100px;
    color: black !important;
    font-size: 17px;
    height: 29px;
    text-align: center;
    width: 29px;
    font-weight: bold;
}

.closedialog:hover{
    background-color: #CCCCCC;
    text-decoration: none !important;
}

.closedialog span{
    position: relative;
    top: 6px;
}

.loginregister{
    height: 415px;
    width: 436px;
    border-radius: 15px 15px 15px 15px;
    position: fixed;
    display: none;
    z-index: 3;
}

.loginregister_header{
    height: 41px;
    background-color: transparent;
}

.loginregister_tab{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #BDCCD4;
    border-color: black black -moz-use-text-color;
    border-image: none;
    border-radius: 10px 10px 0 0;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: white;
    cursor: pointer;
    float: left;
    height: 100%;
    width: 216px;
}

.loginregister_tab.active{
    background-color: #282828;
}

.loginregister_tab span{
    position: relative;
    top: 12px;
}

.dialogfont{
    color: white; margin: 12px auto 0px; width: 221px; font-size: 17px; font-weight: normal;
}

.loginregister_body{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-radius: 0 0 15px 15px;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    height: 337px;
    clear: both;
}

.dialogfontbody{
    font-weight: 600; font-family: 'Trebuchet MS'; font-size: 12px;
}

#login{
    display: none;
}

#loginregistererrordialog{
    
}
